In [16]:
import json

In [17]:
fd = open("record.json",'r')
r = fd.read()
fd.close()

In [18]:
r

'{"1001": {"name": "Choco Cake", "qn": 34, "pr": 100}, "1002": {"name": "Milk Cake", "pr": 800, "qn": 100}, "1003": {"name": "Drink", "pr": 85, "qn": 100}, "1004": {"name": "Candy", "pr": 5, "qn": 1000}, "1005": {"name": "Pen", "pr": 20, "qn": 100}, "1006": {"name": "Phone", "pr": 50000, "qn": 10}, "1007": {"name": "Mic", "pr": 1500, "qn": 0}, "1008": {"name": "Case", "pr": 599, "qn": 5}, "1009": {"name": "Keyboard", "pr": 1999, "qn": 10}}'

In [19]:
##Change into Dictionary

In [20]:
record = json.loads(r)

In [21]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10}}

In [22]:
## Add New Item into Inventory

In [23]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))

Enter product id:1010
Enter name:Mouse
Enter price:1500
Enter quantity:10

In [24]:
record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

In [25]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))

Enter product id:1011
Enter name:Data Cable
Enter price:250
Enter quantity:20

In [29]:
record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

In [77]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))
record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

Enter product id:1012
Enter name:Mouse 1
Enter price:200
Enter quantity:20

In [79]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))
record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

Enter product id:1013
Enter name:Desktop
Enter price:50000
Enter quantity:49

In [81]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))
record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

Enter product id:1014
Enter name:Gaming Mouse
Enter price:700
Enter quantity:30

In [84]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))
record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

Enter product id:1015
Enter name:Gaming Keyboard
Enter price:5000
Enter quantity:45

In [87]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))
record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

Enter product id:1016
Enter name:Head Phone
Enter price:699
Enter quantity:30

In [88]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))
record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

Enter product id:1017
Enter name:bluetooth Headphone
Enter price:900
Enter quantity:43

In [89]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))
record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

Enter product id:1018
Enter name:Usb Hub
Enter price:600
Enter quantity:49

In [93]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))
record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

Enter product id:1019
Enter name:Card  Reader
Enter price:500
Enter quantity:40

In [96]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))
record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

Enter product id:1020
Enter name:LED TV
Enter price:15000
Enter quantity:50

In [98]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))
record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

Enter product id:1021
Enter name:LCD
Enter price:20000
Enter quantity:30

In [102]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))
record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

Enter product id:1022
Enter name:Monitor
Enter price:30000
Enter quantity:34

In [105]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))
record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

Enter product id:1023
Enter name:Notes
Enter price:400
Enter quantity:23

In [106]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))
record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

Enter product id:1024
Enter name:copy
Enter price:500
Enter quantity:34

In [108]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))
record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

Enter product id:1025
Enter name:Computer Table
Enter price:890
Enter quantity:34

In [110]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))
record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

Enter product id:1026
Enter name:Ac
Enter price:20000
Enter quantity:20

In [112]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))
record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

Enter product id:1027
Enter name:AC 2L
Enter price:50000
Enter quantity:44

In [119]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))
record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

Enter product id:1028
Enter name:Ac 1.5L
Enter price:24000
Enter quantity:45

In [120]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))
record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

Enter product id:1029
Enter name:Ac 3L
Enter price:56779
Enter quantity:67

In [121]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))
record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

Enter product id:1030
Enter name:C Type Cable
Enter price:300
Enter quantity:10

In [70]:
js = json.dumps(record)

In [122]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'Mouse', 'pr': 1500, 'qn': 10},
 '1011': {'name': 'Data Cable', 'pr': 250, 'qn': 20},
 '1012': {'name': 'Mouse 1', 'pr': 200, 'qn': 20},
 '1013': {'name': 'Desktop', 'pr': 50000, 'qn': 49},
 '1014': {'name': 'Gaming Mouse', 'pr': 700, 'qn': 30},
 '1015': {'name': 'Gaming Keyboard', 'pr': 5000, 'qn': 45},
 '1016': {'name': 'Head Phone', 'pr': 699, 'qn': 30},
 '1017': {'name': 'bluetooth Headphone', 'pr': 900, 'qn': 43},
 '1018': {'name': 'Usb Hub', 'pr': 600, 'qn': 49},
 '1019': {'name': 'Card  Reader', 'pr': 500, 'qn': 40},
 '102': {'name': 'Mouse 1', 'pr': 200, 'qn': 200},
 '1020': {'name': 'LED TV', 'pr': 15000, 'qn': 50},
 '1021': {'name': 'LCD', 'pr': 20000, 'qn': 30},
 '1022': {'name': 'Monitor ', 'pr': 30000, 'qn': 34},
 '1023': {'name': 'Notes ', 'pr': 400, 'qn': 23},
 '1025': {'name': 'Computer Table', 'pr': 890, 'qn': 34},
 '1026': {'name': 'Ac ', 'pr': 20000, 'qn': 20},
 '1027': {'name': 'AC 2L', 'pr': 50000, 'qn': 44},
 '1028': {'name': 'Ac 1.5L', 'pr': 24000, 'qn': 45},
 '1029': {'name': 'Ac 3L', 'pr': 56779, 'qn': 67},
 '1030': {'name': 'C Type Cable', 'pr': 300, 'qn': 10},
 '2028': {'name': 'Ac 1.5', 'pr': 23000, 'qn': 45}}

In [123]:
del record['2028']

In [124]:
del record['102']

In [125]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'Mouse', 'pr': 1500, 'qn': 10},
 '1011': {'name': 'Data Cable', 'pr': 250, 'qn': 20},
 '1012': {'name': 'Mouse 1', 'pr': 200, 'qn': 20},
 '1013': {'name': 'Desktop', 'pr': 50000, 'qn': 49},
 '1014': {'name': 'Gaming Mouse', 'pr': 700, 'qn': 30},
 '1015': {'name': 'Gaming Keyboard', 'pr': 5000, 'qn': 45},
 '1016': {'name': 'Head Phone', 'pr': 699, 'qn': 30},
 '1017': {'name': 'bluetooth Headphone', 'pr': 900, 'qn': 43},
 '1018': {'name': 'Usb Hub', 'pr': 600, 'qn': 49},
 '1019': {'name': 'Card  Reader', 'pr': 500, 'qn': 40},
 '1020': {'name': 'LED TV', 'pr': 15000, 'qn': 50},
 '1021': {'name': 'LCD', 'pr': 20000, 'qn': 30},
 '1022': {'name': 'Monitor ', 'pr': 30000, 'qn': 34},
 '1023': {'name': 'Notes ', 'pr': 400, 'qn': 23},
 '1025': {'name': 'Computer Table', 'pr': 890, 'qn': 34},
 '1026': {'name': 'Ac ', 'pr': 20000, 'qn': 20},
 '1027': {'name': 'AC 2L', 'pr': 50000, 'qn': 44},
 '1028': {'name': 'Ac 1.5L', 'pr': 24000, 'qn': 45},
 '1029': {'name': 'Ac 3L', 'pr': 56779, 'qn': 67},
 '1030': {'name': 'C Type Cable', 'pr': 300, 'qn': 10}}

In [126]:
js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()